<div class="row">
  <div id="overflow" class='col s12 m4'>
    <% @results.each do |result| %>
      <div class="col s12">
          <div class="card white darken-1 z-depth-2">
            <div class="card-content dark-grey-text">
              <span class="card-title"><%= result[:address] %></span>
              <p class="float: right"><%= result[:weather]['weather'][0]['main'] + ' | ' + result[:weather]['main']['temp'].to_i.to_s  %>&deg;F<p>
            </div>
            <div class="card-action">
              <div class="form-group" style="margin: 0 30px">
                <%= form_tag search_results_path, :method => 'get' do %>
                  <div class="form-group" style="margin: 0 30px">
                    <%= text_field_tag :term, params[:term], required: true, placeholder: 'Need a dog park? Getting Hangry?x', class: "form-control" %>
                    <p class="hide"><%= text_field_tag :location, result[:address], required: true, placeholder: 'City, Zip, or State', class: "form-control" %></p>
                    <p><%= submit_tag "Search", :name => nil, class: "btn btn-default"%>
                    <class="yelp">powered by <%= image_tag "https://s3-media2.fl.yelpcdn.com/assets/srv0/developer_pages/55e2efe681ed/assets/img/yelp_logo_50x25.png" %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class='col s12 m8'>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
    <div style='overflow:hidden;'>
      <iframe id = "google_map" frameborder="0" style="border:0" src= "https://www.google.com/maps/embed/v1/directions?key=AIzaSyBmFKZTdfzK6wNLkZ6T5sI5vDUCTQWyfuA&origin=<%=@addresses.first%>&destination=<%=@addresses.last%>">
      </iframe>

    </div>
  </div>
</div>
