<h3>Yelp Search Results</h3>
<div class="row">
  <% @yelp_results['businesses'].each do |yelp_result| %>
    <div class="col s12 m3 center">
      <div class="card white" style="height: 300px">
        <div class="card-content black-text">
            <span class="card-title"></span>
            <%= image_tag yelp_result["image_url"] %>
            <p><%= yelp_result['name'] %></p>
            <p><%= image_tag yelp_result['rating_img_url'] %> </p>
            <p><a target="blank" href="<%= yelp_result['url'] %>">See on Yelp.com</a></p>
            <p><%= yelp_result["location"]["display_address"].join(", ") %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="center">
  <%= link_to 'Back to route', url_for(:back) %>
</div>
