<!DOCTYPE html>

<html>
<head>
  <title>Capstone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Next Exit</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Login', user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <main>
    <%= yield %>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class='center'>
          <div class="col s12">
            <p class="grey-text text-lighten-4">We appreciate all the help we have received from <a href="http://www.devpointlabs.com/" target="_blank">DevPoint Labs!</a></p>
              <a class="grey-text text-lighten-3" href="/about_us/index">About Us / </a> <a class="grey-text text-lighten-3" href="#!">Careers</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
